@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* common */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

h2{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
}
p{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-family: 'Merriweather', serif;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.item{
    
}

/* header */
.header{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}   


.header-content{
    
}

.content{
    text-align: center;
    color: #66bfbf;
}

.img1{
    position: absolute;
    right: 300px;
    top: 40px;
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: ;
    overflow-y: ;
}

.text{
    font-size: 45px;
    color: #66bfbf;
}
.img2{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.img3{
    background-image: none;
}




/* section */

.container-body{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
}

.skill1-content{
    display: flex;
    justify-content: center;
}


.skill1-text{
    text-align: left;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}




.btn-contact{
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px 20px;
    border: none;
}




/* footer */
footer{
    background-color: #66bfbf;
}

.container-footer{
    width: 40%;
    margin: 100px 50px 100px 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}



.item-social-year{
    text-align: center;
}
